/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin: 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


//hossein
header{
    border-bottom: 1px solid #EDEEF2;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5% 14%;
        @media(max-width:768px){
            width: 95%;
            padding: 1.5% 2%;
        }
        .left{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 30%;
            .search-box{
                background: #EDEEF2;
                border-radius: 12px;
                display: flex;
                align-items: center;
                @media(max-width:768px){
                    display: none;
                }
                input{
                    width: 70%;
                    border: none;
                    outline: none;
                    background: transparent;
                    margin: 10px 12px;
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navigation{
                padding-right: 30px;
                @media(max-width:768px){
                    display: none;
                }
                nav{
                    ul{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        gap: 10px;
                        li{
                            &:nth-child(2){
                                border-right: 1px solid #EDEEF2;
                            }
                            a{
                                color: #2B2B43;
                            }
                        }
                    }
                }
            }
            .mail-image{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .mail{
                    padding: 0% 10%;
                    margin-right: 10%;
                    position: relative;
                    background: #F3F4FF;
                    width: 65px;
                    height: 50px;
                    border-radius: 16px;
                    img{
                        position: absolute;
                        // width: 100%;
                        // height: auto;
                        padding: 16px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);

                    }
                    .notif{
                        text-align: center;
                        line-height: 14px;
                        font-size: 10px;
                        font-weight: 700;
                        width: 16px;
                        height: 14px;
                        position: absolute;
                        top: 0px;
                        right: 2px;
                        background: #4E60FF;
                        color: #fff;
                        border-radius: 15px;
                    }
                }
                .image{

                }
                .hamburger{
                    margin-left: 5%;
                    @media(min-width:768px){
                        display: none;
                    }
                }
            }
        }
    }
}


section#card{
    .container{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5% 14%;
        @media (max-width:768px){
            flex-direction: column;
            padding: 4% 4%;
        }
        .card-1{
            display: flex;
            width: 45%;

            background: #F3F4FF;
            border-radius: 16px;
            @media(max-width:768px){
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                margin: 3% 0%;
            }
            .left{
                width: 55%;
                @media(max-width:768px){
                    width: 95%;
                    height: 55%;
                }
                img{
                    @media(max-width:768px){
                        width: 100%;
                    }
                }
            }
            .right{
                position: relative;
                width: 45%;
                @media(max-width:768px){
                    width: 95%;
                    height: 45%;
                    padding: 0% 4%;
                }
                p.first{
                    color: #2B2B43;
                    margin: 24px 0px 8px 0px; 
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 28px;
                }
                p.second{
                    color: #4E60FF;
                    font-weight: 800;
                    font-size: 40px;
                    line-height: 56px;
                }
                p.third{
                    color: #83859C;
                    margin: 20px 0px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    @media(max-width:768px){
                        display: none;
                    }
                }
                .mobile-third{
                    color: #83859C;
                    position: absolute;
                    top: 28px;
                    right: 40px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    @media(min-width:768px){
                        display: none;
                    }
                }
            }
        }
    }
}
section#food{
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5% 14%;
        @media(max-width:768px){
            flex-wrap: wrap;
            padding: 1.5% 4%;
        }
        .food-1{
            background: #F3F4FF;
            width: 160px;
            height: 80px;
            border: 2px solid #4E60FF;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media(max-width:768px){
                width: 26%;
                margin: 2% 0%;
                padding: 0% 2%;
            }
        }
    }

}


section#restaurant{
    h1{
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        padding: 1.5% 14%;
        @media(max-width:768px){
            padding: 1.5% 4%;
        }
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 14%;
        @media(max-width:768px){
            flex-direction: column;
            padding: 0% 4%;
        }
        .card{
            border: 1px solid #EDEEF2;
            border-radius: 16px;
            @media(max-width:768px){
                margin: 3% 0%;
                width: 100%;
            }
            .top{
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 16px;
                }
            }
            .bottom{
                .name{
                    display: flex;
                    justify-content: space-between;
                    padding: 12px 16px;
                }
                .minutes{
                    padding: 0px 16px;
                    p{
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px
                    }
                }
                .button{
                    display: flex;
                    width: 70px;
                    height: 24px;
                    border-radius: 100px;
                    background: #EDEEF2;
                    margin: 12px 16px;
                    img{
                        padding: 6px 8px;
                    }
                    p{
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        padding: 6px 0px;

                    }
                }
            }
        }
    }
}